---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Features from '../components/Features.astro';
import BeforeAfter from '../components/BeforeAfter.astro';
import UseCases from '../components/UseCases.astro';
import Comparison from '../components/Comparison.astro';
import WhyNow from '../components/WhyNow.astro';
import FAQ from '../components/FAQ.astro';
import Closing from '../components/Closing.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Problem />
    <HowItWorks />
    <Features />
    <BeforeAfter />
    <UseCases />
    <Comparison />
    <WhyNow />
    <FAQ />
    <Closing />
  </main>
  <Footer />
</Layout>
